<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <!-- Scripts -->
    <script src="//code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.7/js/dataTables.js"></script>
    <script src="//cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.7/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.min.css">
</head>
<body>
    <h1>Contacts</h1>
    <table id="contact-table" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Occupation</th>
                <th>Company</th>
                <th>LinkedIn</th>
                <th>Message</th>
                <th>Meeting</th>
                <th>Mailing + Method</th>
                <th>Timestamp</th>                                
            </tr>
        </thead>
        <tbody>
    <% contacts.forEach(contact => { %>
        <tr>
            <td><%= contact.fname %> <%= contact.lname %></td>
            <td><%= contact.email %></td>
            <td><%= contact.job %></td>
            <td><%= contact.company %></td>
            <td><%= contact.linkedin %></td>
            <td><%= contact.message %></td>
            <td><%= contact.meeting %></td>
            <td><%= contact.mailing %> <%= contact.method %></td>
            <td><%= contact.timestamp.toLocaleString() %></td>
        </tr>
    <% }) %>
        </tbody>    
    </table>

    <script>
        new DataTable('#contact-table', {
            responsive: true
        });
    </script>
</body>
</html>